
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="/images/sentrybox.gif">
            <img src="/images/blue.png">
            <p style="margin-top: 15px">
                <img src="/images/beian.png">
                渝公网安备 50011802010053号
            </p>
            <p style="margin-top: 15px" id="manage">
                <img src="/images/beian.png">
                      <a style="color: white" href="/admin" >管理入口</a>

            </p>
        </div>
        <div class="col-md-3">
            <h4>联系方式</h4>
            <p>红河校区：重庆市永川区洪河大道319号</p>
            <p>星湖校区：重庆市永川卫星湖文化旅游区</p>
            <p>邮编：402160</p>
        </div>
        <div class="col-md-3">
            <h4>友情链接</h4>
            <p>中华人民共和国教育部</p>
            <p>重庆市人民政府网</p>
            <p>重庆市教育委员会公众信息网</p>
            <p>中国教育和科研计算机网</p>
            <p>高等教育出版社</p>
        </div>
        <div class="col-md-3" style="text-align: center">
            <div class="col-md-6">
                <img src="/images/indexWb.jpg" width="110px">
                <h5>官方微博</h5>
            </div>
            <div class="col-md-6">
                <img src="/images/indexWx.jpg" width="110x">
                <h5>官方微信</h5>
            </div>

        </div>
    </div>
</div>
<p>Copyright © Chongqing University Of Arts And Sciences All Rights Reserved | 渝ICP备05001037号 | 技术支持：现代教育技术中心</p>

<script src="/js/jquery.min.js"></script>
<script>
    $('#manage').hide();
    // $('#manage').click(function (e) {
    // //     console.log($(this))
    // //     e.preventDefault();
    // //     $.getJSON('php/getUser.php',function (res) {
    // //         if (res){
    // //             window.location.href = 'manage.html';
    // //         }
    // //     })
    // // });
    // $.getJSON('/users/isLogin', function (rs) {
    //     if (rs) {
    //         $('#showNc a').html('欢迎您：'+rs);
    //         $('#log_in').hide();
    //         $('#regist').hide();
    //         $('#showNc').show();
    //         $('#logout').show();
    //
    //     }
    // })
</script>
